@mixin align($align) {
  text-align: $align;
}

@mixin align-self($position) {
  align-self: $position;
}

@mixin background($asset, $repeat, $position) {
  background: url($asset);
  background-repeat: $repeat;
  background-position: $position;
}

@mixin background-color($color) {
  background-color: $color;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin border($border) {
  border: $border;
}

@mixin bottom($bottom) {
  bottom: $bottom;
}

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
}

@mixin color($color) {
  color: $color;
}

@mixin cursor($cursor) {
  cursor: $cursor;
}

@mixin display($flex, $flow, $justify, $align) {
  display: $flex;
  flex-flow: $flow;
  justify-content: $justify;
  align-items: $align;
}

@mixin font-weight($weight) {
  font-weight: $weight;
}

@mixin font-size($font-size) {
  font-size: $font-size;
}

@mixin height($height) {
  height: $height;
}

@mixin left($left) {
  left: $left;
}

@mixin justify-self($position) {
  justify-self: $position;
}

@mixin margin($m) {
  margin: $m;
}

@mixin padding($p) {
  padding: $p;
}

@mixin position($position) {
  position: $position;
}

@mixin right($right) {
  right: $right;
}

@mixin top($top) {
  top: $top;
}

@mixin transition($transition) {
  transition: $transition;
}

@mixin width($width) {
  width: $width;
}
