@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
body {
  font-family: "Bai Jamjuree", sans-serif;
  background: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.logo {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 6.25rem 0 3.125rem 0;
}

.first-title-paragraph .title {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.first-title-paragraph .title h2 {
  text-align: center;
  font-weight: 600;
  color: #4c545d;
}
.first-title-paragraph .paragraph {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.first-title-paragraph .paragraph p {
  text-align: center;
  font-size: 1.1rem;
  color: #9fabb2;
}

.ios-button {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 1.25rem 0 0.938rem 0;
}
.ios-button .ios {
  background-color: #26baa4;
  width: 100%;
  padding: 0.938rem 0;
  border-radius: 1.563rem;
  color: white;
  border: none;
  box-shadow: 0 0.188rem 0 0 #1e9482;
}

.mac-button {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 1.25rem 0 8.5rem 0;
}
.mac-button .mac {
  background-color: #6173ff;
  width: 100%;
  padding: 0.938rem 0;
  border-radius: 1.563rem;
  color: white;
  border: none;
  box-shadow: 0 0.188rem 0 0 #4d61ff;
}

.second-title-paragraph .title {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.second-title-paragraph .title h3 {
  text-align: center;
  font-weight: 600;
  color: #4c545d;
}
.second-title-paragraph .paragraph {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.second-title-paragraph .paragraph p {
  text-align: center;
  font-size: 1rem;
  color: #9fabb2;
}

.mac-computer .mac-pic {
  margin: 3.25rem 0;
}
.mac-computer .mac-pic img {
  width: 100%;
  height: auto;
}
.mac-computer .titles-right {
  margin: 0 0 7.25rem 0;
}
.mac-computer .titles-right .title {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.mac-computer .titles-right .title h4 {
  text-align: center;
  font-weight: 600;
  color: #4c545d;
}
.mac-computer .titles-right .paragraph {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 1.4rem 0;
}
.mac-computer .titles-right .paragraph p {
  text-align: center;
  font-size: 1rem;
  color: #9fabb2;
}

.third-title-paragraph .title {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.third-title-paragraph .title h3 {
  text-align: center;
  font-weight: 600;
  color: #4c545d;
}
.third-title-paragraph .paragraph {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.third-title-paragraph .paragraph p {
  text-align: center;
  font-size: 1rem;
  color: #9fabb2;
}

.tablet-phone .tablet-phone-pic {
  margin: 3.25rem 0 4.5rem 0;
}
.tablet-phone .tablet-phone-pic img {
  width: 100%;
  height: auto;
}

.fourth-title-paragraph .title {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.fourth-title-paragraph .title h3 {
  text-align: center;
  font-weight: 600;
  color: #4c545d;
}
.fourth-title-paragraph .paragraph {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 4.5rem 0;
}
.fourth-title-paragraph .paragraph p {
  text-align: center;
  font-size: 1rem;
  color: #9fabb2;
}

.icons .icon,
.icons .title,
.icons .paragraph {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.icons .icon {
  height: 2rem;
  margin: 0 0 2rem 0;
}
.icons .title h4 {
  text-align: center;
  font-weight: 600;
  color: #4c545d;
}
.icons .paragraph {
  margin: 0 0 2rem 0;
}
.icons .paragraph p {
  text-align: center;
  font-size: 1rem;
  color: #9fabb2;
}

.company-icons .google,
.company-icons .ibm,
.company-icons .microsoft,
.company-icons .hp,
.company-icons .vg {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.company-icons .ibm,
.company-icons .microsoft,
.company-icons .hp {
  margin: 2.5rem 0;
}
.company-icons .google {
  margin: 4rem 0 2.5rem 0;
}
.company-icons .vg {
  margin: 2.5rem 0 9rem 0;
}

.fifth-title-paragraph .title {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.fifth-title-paragraph .title h3 {
  text-align: center;
  font-weight: 600;
  color: #4c545d;
}
.fifth-title-paragraph .paragraph {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.fifth-title-paragraph .paragraph p {
  text-align: center;
  font-size: 1rem;
  color: #9fabb2;
}

.footer {
  background-color: #f6f7f9;
  position: absolute;
  width: 100%;
  left: 0;
  margin: 0;
}
.footer .logo-footer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0;
}
.footer .logo-footer img {
  width: 15%;
  height: auto;
}
.footer .link-footer .link {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  transition: color 0.3s ease;
  cursor: pointer;
}
.footer .link-footer .link:hover {
  color: #26baa4;
}
.footer .footer-social-logos {
  margin: 1.5rem 0;
}
.footer .footer-social-logos .twitter {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.footer .footer-social-logos .facebook {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}
.footer .footer-social-logos .instagram {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}
.footer .footer-social-logos i {
  font-size: 1.3rem;
  transition: color 0.3s ease;
}
.footer .footer-social-logos i:hover {
  color: #26baa4;
}

.attribution a {
  font-weight: 600;
  color: #26baa4;
}

/*# sourceMappingURL=style.css.map */
